<article id="statistics_03" class="12u$ 12u$(xsmall) work-item">
    <a href="#app-header"><h3 class="center-header">3. Подробная статистика</h3></a>
    <p>
        При нажатии на кнопку <b>"Подробно"</b>, снизу на половину экрана появится "шторка" - детальная информация об игре и конкретных ответах пользователя.
    </p> 
    <p>
        Блок оранжевой информации показывает какие настройки были выбраны для данной игры и общую статистику по игре:
    </p> 
    <ol>
        <li>количество очков, набранных пользователем за всю игру;</li>
        <li>время, затраченное на все ответы;</li>
        <li>количество всех попыток на то, чтобы ответить правильно;</li>
        <li>количество правильных ответов;</li>
        <li>количество попыток, на которые пользователь не успел ответить;</li>
        <li>дата - когда была сыграна игра.</li>
    </ol> 

    <p>Ниже перечислены блоки с информацией о каждой попытке:</p>
    <ol>
        <li>сектор, в который попал конкретный дротик;</li>
        <li>количество очков, выбитых каждым дротиком по отдельности;</li>
        <li>какой ответ дал пользователь;</li>
        <li>сколько времени пользователь потратил на эту попытку;</li>
        <li>сколько очков пользователь получил за эту попытку;</li>
    </ol>

    <p>Пояснения к записям напротив строк "Попадание 1-3":</p> 
    <ol>
        <li>"20х1" = 20 очков: дротик попал в сектор 20 с множителем 1 (цвет черный).</li>
        <li>"20х2" = 40 очков: дротик попал в сектор 20 с множителем 2 (цвет зеленый, узкое кольцо наибольшего диаметра).</li>
        <li>"20х3" = 40 очков: дротик попал в сектор 20 с множителем 3 (цвет зеленый, узкое кольцо среднего диаметра).</li>
        <li>"25х1" = 25 очков: дротик попал в сектор 25 (цвет зеленый, наименьшее кольцо, окружающее красный центр).</li>
        <li>"50х1" = 50 очков: дротик попал в сектор 50 (цвет красный, в яблочко).</li>
        <li>"Промах" = 0 очков: дротик попал в мишень за пределы очковой зоны (цвет черный).</li>
    </ol>
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right image-container">
        <a href="images/fulls/statistics_04.png" class="image fit thumb">
            <img src="images/thumbs/statistics_04.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item image-container">
        <a href="images/fulls/statistics_05.png" class="image fit thumb">
            <img src="images/thumbs/statistics_05.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item image-container">
        <a href="images/fulls/statistics_06.png" class="image fit thumb">
            <img src="images/thumbs/statistics_06.png" alt="" />
        </a>
    </article>
</div>