<section id="statistics">
    <h3 class="center-header">Раздел "Статистика"</h3>
    <div class="row">
        {% include liquids/statistics/statistics_01_01.liquid %}
        {% include liquids/statistics/statistics_01_02.liquid %}
        {% include liquids/statistics/statistics_01_03.liquid %}
    </div>
</section>