<article id="settings_01" class="12u$ 12u$(xsmall) work-item">
    <a href="#app-header"><h3 class="center-header">1. Общие настройки</h3></a>
    <p>
        В разделе "Настройки" пользователь может выполнить следующие действия:
    </p> 
    <ol>
        <li>изменить количество попыток в игре;</li>
        <li>изменить время, которое дается на каждую попытку;</li>
        <li>перейти в настройки внешнего вида;</li>
        <li>перейти в настройки звуковых эфектов;</li>
    </ol>
    <p>
        Все настройки, изменяемые пользователем, сохраняеются глобально и при перезапуске не теряются. Стоит обратить внимание, что настройки конкретной игры сериализуются вместе со статистикой самой игры, и поэтому измененные настройки будут применены только с началом новой игры.
    </p> 
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right image-container">
        <a href="images/fulls/settings_01.png" class="image fit thumb">
            <img src="images/thumbs/settings_01.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item image-container">
        <a href="images/fulls/settings_02.png" class="image fit thumb">
            <img src="images/thumbs/settings_02.png" alt="" />
        </a>
    </article>
</div>