<article id="settings_03" class="12u$ 12u$(xsmall) work-item">
    <a href="#app-header"><h3 class="center-header">3. Звуковые настройки</h3></a>
    <p>
        Этот подраздел предназначен для управления громкостью звуковых эффектов с помощью ползунка.
    </p>
    <p>
        При необходимости можно отключить конкретную мелодию или звуковой эффект.
    </p>
    <p>
        При изменении громкости звука обновляется кнопка на которой изображена картинка с динамиками. Эта кнопка позволяет по нажатию включить и выключить воспроизведение конкретной аудиозаписи для того.
    </p>
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right image-container">
        <a href="images/fulls/settings_05.png" class="image fit thumb">
            <img src="images/thumbs/settings_05.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item image-container">
        <a href="images/fulls/settings_06.png" class="image fit thumb">
            <img src="images/thumbs/settings_06.png" alt="" />
        </a>
    </article>
</div>