<article class="12u$ 12u$(xsmall) work-item">
    <h3 class="center-header">2. Настройки внешнего вида</h3>
    <p>
        Данный подраздел предназначен для того, чтобы пользователь мог настройить то, как будут отображаться мишень и дротики во время игры и при просмотре статистики. Есть такие опции как:
    </p> 
    <ol>
        <li>выбрать понравившееся изображение дротика из предложенных;</li>
        <li>изменить размер дротика;</li>
        <li>включить или выключить возможность промахов;</li>
    </ol>
    <p>
        При изменении каждой настройки, отображаемая представление мишени и дротиков будет обновляться.
    </p> 
    <p>
        Переключатель промахов намеренно добавлен именно в этот раздел, чтобы пользователю нагляд было продемонстрированно, что изменяет данная настройка.
    </p>
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right">
        <a href="images/fulls/settings_03.png" class="image fit thumb">
            <img src="images/thumbs/settings_03.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item">
        <a href="images/fulls/settings_04.png" class="image fit thumb">
            <img src="images/thumbs/settings_04.png" alt="" />
        </a>
    </article>
</div>