<section id="settings">
    <a href="#app-header"><h3 class="center-header">Раздел "Настройки"</h3></a>
    <div class="row">
        {% include liquids/settings/settings_01_01.liquid %}
        {% include liquids/settings/settings_01_02.liquid %}
        {% include liquids/settings/settings_01_03.liquid %}
    </div>
</section>