<section id="games">
    <h3 class="center-header">Раздел "Игра"</h3>
    <div class="row">
        {% include liquids/games/games_01_01.liquid %}
        {% include liquids/games/games_01_02.liquid %}
        {% include liquids/games/games_01_03.liquid %}
    </div>
</section>