<article id="games_02" class="12u$ 12u$(xsmall) work-item">
    <a href="#app-header"><h3 class="center-header">2. В процессе игры</h3></a>
    <p>
        После нажатия на кнопку <b>"НАЧАТЬ"</b> пользователю отображаются изображения дротиков, расположенные на мишени по случайному образу. Таймер начинает обратный отчет (в секундах).
    </p> 
    <p>
        Под мишенью отображается вопрос на который нужно правильно ответить, выбрав один и вариантов ответа.
    </p> 
    <p>
        Количество очков - это сумма очков, которые "выбиты" дротикками на мишени. Каждый дротик может попасть в любой очковый сектор, а также возможен промах - когда дротик попал в черную зону, где уже расположены числа с очками (после второго красно-зеленого ряда, если считать от центра). Необходимо рассматривать именно наконечник дротика для того, чтобы рассчитать сумму "выбитых очков" очков.
    </p>
    <p>
        При нажатии на любой из предложенных ответов (круглая кнопка бирюзового цвета с количеством очков), мишень делает 1 оборот вокруг своей оси, генерируются новые "попадания" дротиков и обновляются значения в кнопках для ответа. Также уменьшается количество попыток и перезапускается таймер
    </p>
    <p>
        Если пользователь не успевает ответить за отведенное время, то приложение самостоятельно обновляет все данные, а попытка засчитывается как пропущенная. Если пользователь успел ответить, то, в зависимости от того правильно он ответил или нет, попытка засчитывается как правильная или ошибочная, и пользователь получает баллы или нет.
    </p> 
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right">
        <a href="images/fulls/games_02.png" class="image fit thumb">
            <img src="images/thumbs/games_02.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item">
        <a href="images/fulls/games_03.png" class="image fit thumb">
            <img src="images/thumbs/games_03.png" alt="" />
        </a>
    </article>
</div>