<article id="games_03" class="12u$ 12u$(xsmall) work-item">
    <a href="#app-header"><h3 class="center-header">3. Пауза и конец игры</h3></a>
    <p>
        Если пользователь в процессе игры перешел в другой раздел (<b>"Статистика"</b> или <b>"Настройки"</b>), то игра приостанавливается и сбрасывается до текущей попытки. То есть сохраняется прогресс игры.
    </p> 
    <p>
        При возвращении пользователя в раздел <b>"Игра"</b>, сбрасывается таймер и отображаются следующие кнопки:
    </p>
    <ol>
        <li><b>"ПРОДОЛЖИТЬ"</b> - чтобы продолжить сохраненный прогресс.</li>
        <li><b>"ЗАНОВО"</b> - чтобы удалить сохраненный прогресс и перейти в начальное состояние раздела - перед началом игры (см. первый скриншот).</li>
    </ol> 
    <p>
        После того как пользователь ответит на последнюю попытку (или истечет время) то выведется краткая информация о текущей игре - результаты. На полупрозрачной панели будет отображено:
    </p>
    <ol>
        <li>количество попыток;</li>
        <li>количество правильных ответов;</li>
        <li>количество неправильных ответов;</li>
        <li>количество пропущенных попыток (истекло время);</li>
        <li>количество набранных очков за ответы;</li>
        <li>общее потраченное время на все ответы.</li>
    </ol>
    <p>
        В дополнение к этому в течении 20-30 секунд будет озвучена мелодия, разная для хорошего и плохого результата. Плохим будет считаться результат, когда количество неправильных ответов будет больше половины всех попыток.
    </p> 
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right image-container">
        <a href="images/fulls/games_04.png" class="image fit thumb">
            <img src="images/thumbs/games_04.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item image-container">
        <a href="images/fulls/games_05.png" class="image fit thumb">
            <img src="images/thumbs/games_05.png" alt="" />
        </a>
    </article>
</div>