<article class="4u 12u$(xsmall) work-item right">
    <a href="images/fulls/games_01.png" class="image fit thumb">
        <img src="images/thumbs/games_01.png" alt="" />
    </a>
</article>

<article id="games_01" class="8u$ 12u$(xsmall) work-item">
    <a href="#app-header"><h3 class="center-header">1. Перед началом игры</h3></a>
    <p>
        При запуске приложения, по умолчанию открывается раздел <b>"Игра"</b>. Перед запуском новой игры пользователь видит следующую информацию:
    </p> 
    <ul>
        <li>сколько всего попыток ответить правильно у него имеется;</li>
        <li>сколько секунд дается, чтобы ответить в каждой попытке;</li>
    </ul>
    <p>
        Также пользователю отображается мишень для дартса, в котором будут показаны расположения дротиков - результаты попаданий при каждой попытке.
    </p>
    <p>
        При нажатии на кнопку <b>"НАЧАТЬ"</b> начинается сама игра.
    </p>
</article>