<!DOCTYPE HTML>
<html>
<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link href="assets/css/fontawesome.min.css" rel="stylesheet">
  	<link href="assets/css/brands.min.css" rel="stylesheet">
</head>

<body id="top">
	<!-- Header -->
	{% include liquids/_header.liquid %}

	<!-- Main -->
	<div id="main">
		<!-- App Header -->
		{% include liquids/appHeader.liquid %}

		<!--- Site Header -->
		{% include liquids/siteHeader.liquid %}

		<!-- Description -->
		{% include liquids/appTarget.liquid %}

		<!-- Games -->
		{% include liquids/games/games.liquid %}

		<!-- Statistics -->
		{% include liquids/statistics/statistics.liquid %}

		<!-- Settings -->
		{% include liquids/settings/settings.liquid %}


		{% include liquids/devDetails.liquid %}
	</div>

	<!-- Footer -->
	{% include liquids/_footer.liquid %}

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.poptrox.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>