<footer id="footer">
    <ul class="icons">
        <li>
            <a href="https://vk.com/koteika19" class="icon">
                <i class="fa-brands fa-vk footer-social"></i>
            </a>
        </li>
        <li>
            <a href="https://t.me/Aynur19" class="icon">
                <i class="fa-brands fa-telegram footer-social"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/Aynur19/" class="icon">
                <i class="fa-brands fa-github footer-social"></i>
            </a>
        </li>
        <li>
            <a href="https://ru.linkedin.com/in/koteika19" class="icon">
                <i class="fa-brands fa-linkedin footer-social"></i>
            </a>
        </li>
    </ul>
    <ul class="copyright">
        <li>&copy; Aynur19</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>