<section id="app-header">
    <header class="major">
        <i class="fa-brands fa-swift fa-2xl" style="color: #f05239;"></i>
        <h1 class="center-header">Darts Score App</h1>
        <p>Pet-project по разработке мобильного приложения под iOS
        <ul>
            <li>язык программирования: <b>Swift</b>;</li>
            <li>UI фреймворк: <b>SwiftUI</b>;</li>
            <li>целевая версия iOS: 16.0;</li>
            <li>устройство, на котором тестировалось приложение: iPhone 13 Pro Max (iOS 16.6).</li>
            <li>
                ссылка на проект: <a href="https://github.com/Aynur19/ios-darts-score"><strong>GitHub</strong></a>
            </li>
        </ul>
        </p>
    </header>
</section>