<header class="major">
    <h1 class="center-header">Darts Score App</h1>
    <p>Учебный проект по разработке мобильного приложения под iOS
    <ul>
        <li>целевая версия iOS: 16.0</li>
        <li>устройство, на котором тестировалось приложение: iPhone 13 Pro Max (iOS 16.6)</li>
    </ul>
    </p>
</header>