<section id="app-target">
    <h2 class="center-header">Суть приложения</h2>
    <p>
        Набрать как можно больше очков, правильно отвечая на вопросы о том, сколько очков выбито на мишени для дартса тремя дротиками. Приложение состоит из 3-х разделов:
    </p>
    <ol>
        <li>Игра</li>
        <li>Статистика</li>
        <li>Настройки</li>
    </ol>
</section>