<section id="dev-details">
    <a href="#app-header"><h2 class="center-header">Полученные навыки</h2></a>
    <p>

        При создании данного приложения были приобретены новые навыки и отточены уже имеющиеся умения:
    </p>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Навыки/умения</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        Разработка пользовательского интерфейса с использованием фреймворка <b>SwiftUI</b>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Применение стандартных компонентов <b>SwiftUI</b>:
                        <code>View</code>, 
                        <code>TabView</code>, 
                        <code>[X]Stack</code>, 
                        <code>Button</code>, 
                        <code>ScrollView</code>, 
                        <code>GeometryReader</code>, 
                        <code>NavigationStack</code> 
                        и т.д.
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Разработка приложения по архитектуре <b>MVVM</b>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        Использование свойств и модификатор SwiftUI, таких как, 
                        <code>@Environment</code>, 
                        <code>@EnvironmentObject</code>, 
                        <code>@State</code>, 
                        <code>@StateObject</code>, 
                        <code>@ObservedObject</code> и 
                        <code>@Published</code> 
                        для управления данными и обновлений в приложении
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        Использование <code>Combine</code> для реализации 
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        Реализация навигации и переходов в приложении
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Сериализация игровых данных в <b>JSON</b> с применением протокола <code>Codable</code></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        Сохранение пользовательских настроект с использованием 
                        <code>UserDefaults</code> и 
                        <code>@AppStorage</code>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>
                        Подключение и использование через <b>SPM</b> сторонних библиотек, например, 
                        <a href="https://github.com/Aynur19/ios-swiftui-components"><b>SwiftUIComponents4iOS</b></a>
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>
                        Реализация кастомных интерактивных компонентов 
                        <code>VGradientView</code>, 
                        <code>HWheelPickerView</code>, 
                        <code>HStepperView</code>, 
                        <code>HStaticSegmentedPickerView</code>, 
                        <code>BluredPopup</code> и использовние через пакет 
                        <a href="https://github.com/Aynur19/ios-swiftui-components"><b>SwiftUIComponents4iOS</b></a>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>
                        Реализация для стандартных UI-компонентов собственных стилей: 
                        <code>ImageToggleStyle</code> и 
                        <code>PrimaryButtonStyle</code>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Применение асинхронных вызовов функций (<b>Swift Concurrency</b>) для повышения отзывчивости приложения</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>
                        Использование <a href="https://realm.github.io/SwiftLint/"><b>SwiftLint</b></a> 
                        для проверки кода на наличие ошибок и поддерживания <b>code-style</b> в проекте
                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>
                        Использование условия <code>#available</code> для проверки доступности API на определенной версии операционной системы и написания разной реализации в зависимоти от выполнения условия
                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>
                        Польностью программное построение и отрисовка мишени для дартса из примитивов 
                        <code>Path</code> и 
                        <code>Text</code>
                    </td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Работа с изображениями и звуком (<code>AVFoundation</code>)</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Работа с анимациями и анимированными переходами</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Добавление локализации приложения (на русский язык)</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Оптимизация производительности приложения</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Обработка исключений</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>
                        Расширение функционала стандартных структур и классов через <code>extension</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
