<section id="site-header">
    <h3 class="center-header">Содержание</h3>
    <ol>
        <li>
            <a href="#app-target"><h4 id="site-header">Суть приложения</h4></a>
            <ol>
                <li>
                    <a href="#games"><h4>Раздел "Игра"</h4></a>
                    <ol>
                        <li><a href="#games_01"><h5>Перед началом игры</h5></a></li>
                        <li><a href="#games_02"><h5>В процессе игры</h5></a></li>
                        <li><a href="#games_03"><h5>Пауза и конец игры</h5></a></li>
                    </ol>
                </li>
                <li>
                    <a href="#statistics"><h4>Раздел "Статистика"</h4></a>
                    <ol>
                        <li><a href="#statistics_01"><h5>История игр</h5></a></li>
                        <li><a href="#statistics_02"><h5>История ответов</h5></a></li>
                        <li><a href="#statistics_03"><h5>Подробная статистика</h5></a></li>
                    </ol>
                </li>
                <li>
                    <a href="#settings"><h4>Раздел "Настройки"</h4></a>
                    <ol>
                        <li><a href="#settings_01"><h5>Общие настройки</h5></a></li>
                        <li><a href="#settings_02"><h5>Настройки внешнего вида</h5></a></li>
                        <li><a href="#settings_03"><h5>Звуковые настройки</h5></a></li>
                    </ol>
                </li>
            </ol>
        </li>
        <li>
            <a href="#dev-details"><h4>Полученные навыки</h4></a>
        </li>
    </ol>
</section>