<article class="12u$ 12u$(xsmall) work-item">
    <h3 class="center-header">2. История ответов</h3>
    <p>
        В данном подразделе отображаются вся информация по конкретной попытке в данной игре (игра - запись, которую выбрал пользователь в разделе <b>"Статистика"</b>):
    </p> 
    <ol>
        <li>мишень для дартса и дротики с расположениями</li>
        <li>варианты ответов с количествами "выбитых" очков дротиками</li>
        <li>правильный ответ (отображается светло-зеленым цветом)</li>
        <li>неправильный ответ пользователя (отображается светло-красным цветом)</li>
    </ol>
    <p>
        Неправильный ответ отображется только если пользователь ответил неправильно. В остальных случаях отображается правильный ответ и все остальные (бирюзового цвета).
    </p> 
    <p>
        Чтобы просмотреть, информацию о других попытках пользователю нужно только свайпнуть в сторону (вправо или влево).
    </p>
</article>

<div class="12u 12u$(xsmall) work-item center-images">
    <article class="4u 12u$(xsmall) work-item right">
        <a href="images/fulls/statistics_02.png" class="image fit thumb">
            <img src="images/thumbs/statistics_02.png" alt="" />
        </a>
    </article>
    <article class="4u 12u$(xsmall) work-item">
        <a href="images/fulls/statistics_03.png" class="image fit thumb">
            <img src="images/thumbs/statistics_03.png" alt="" />
        </a>
    </article>
</div>