<article class="4u 12u$(xsmall) work-item right">
    <a href="images/fulls/statistics_01.PNG" class="image fit thumb">
        <img src="images/thumbs/statistics_01.PNG" alt="" />
    </a>
</article>

<article class="8u$ 12u$(xsmall) work-item">
    <h3 class="center-header">1. История игр</h3>
    <p>
        При переходе в данный раздел в самом начале отображается таблица с краткой статистикой проведенных игр. Таблица содержит следующие колонки:
    </p> 
    <ol>
        <li><b>"Счет"</b> - количество очков, набранных в процессе ответов</li>
        <li><b>"Попытки"</b> - количество правильных ответов и количество попыток всего</li>
        <li><b>"Время"</b> - общее время (в секкундак), потраченное на все попытки</li>
    </ol>
    <p>Все записи отсортированы в порядке убывания по количеству набранных очков.</p>
    <p>Дополнительно наложен градиент: <b>ЗЕЛЕНЫЙ-ЖЕЛТЫЙ-КРАСНЫЙ</b>.</p>
    <p>
        Каждая запись кликабельна, и, при нажатии на любую запись, будет выполнен переход на подраздел <b>"История ответов"</b>
    </p>
</article>
